#map{
  height: auto;  /* Tamaño de mapa */
  width: 100%;
}

@font-face {
  font-family: tilte-font;
  src: url("/fonts/beautymountains.ttf");
}

* {
  margin: 0;
}

.bloque{
  margin-right: 1em;
  margin-left: 1em;
}
body {
  background: url("/images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button{
  background-color: white !IMPORTANT;
  box-sizing: inherit !IMPORTANT;
}
.navbar-brand{
  text-align: center;
  display: flex;
  margin-top: 1em;
}
.navbar-brand>p{
  text-align: center;
  font-size: 2.5em !IMPORTANT;
}

.navbar{
  border-radius: 10em !IMPORTANT;
  margin-top: 1em;
}

.mb-3{
  margin-top: 5em;
  margin-right: 1em !IMPORTANT
}

.bg-light{
  background-color: inherit !IMPORTANT;
  box-sizing: inherit !IMPORTANT;
}/*
.input-group-prepend{
  margin-right: inherit !IMPORTANT;
}
*/
input{
  margin-top: 1em;
}
.mb-2{
  margin-top: 2em;
}
