<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href=css\admin.css>
  </head>
  <body style="background-color:white;">
    <div id="navbar">
      <a href="/admin">HOME</a>
      <a href="/admin/users">Usuarios</a>
      <a href="/admin/incidencias">Incidencias</a>
      <a href="/admin/map">Mapa </a>
    </div>

{{range .Lista}}
  {{if .EsGrave}}
    <div class="emergencia">
      <h4 class="alert-heading">EMERGENCY!</h4>
      <p><b>Tipo de incidencia</b>: {{.Type}} <br>
        <b>Usuario</b>: {{.Author}}<br>
        <b>Descripción</b>: {{.Desc}} <br>
      <a href="/mapOne.html?long={{.Longitud}}&lat={{.Latitud}}"><b>Ubicación:  </b><img src="images/mapIcon.png" width="35em" height="35em"></a></p>
      <hr>
        <!-- Material inline 1 -->
        <form class="form-check form-check-inline" action="/editar" method="post">
          <label class="form-check-label" for="materialInline1"><b>Control de opciones:</b></label>
          <input type="checkbox" class="form-check-input" id="materialInline1">
          <label class="form-check-label" for="materialInline1">En proceso</label>
        <!-- Material inline 2 -->
          <input type="checkbox" class="form-check-input" id="materialInline2" name="noAvisar">
          <label class="form-check-label" for="materialInline2">Aviso a usuarios</label>
        <!-- Material inline 3 -->
          <input type="checkbox" class="form-check-input" id="materialInline3">
          <label class="form-check-label" for="materialInline3">Ubicacion mal</label>
        <!-- Material inline 4 -->
          <input type="checkbox" name="solucionada" class="form-check-input" id="materialInline4">
          <label class="form-check-label" for="materialInline3">Solucionada</label>
          <input type="submit" value="Submit" ></input>
        </form>
    </div>
    {{end}}
{{end}}

    <script src="js\admin.js"></script>
  </body>
</html>
