<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notificaciones:</title>
</head>
<body>
    <h2>Notificaciones:</h2>
    <ul class="Notificaciones">
        <li class="list-group-item" id = "Not1" onclick = "location.href='Notificaciones/notificacion1.html'">La primera notificacion</li>
        <li class="list-group-item" id = "Not2" onclick = "location.href='Notificaciones/notificacion2.html'">La segunda notificacion</li>
        <li class="list-group-item" id = "Not3" onclick = "location.href='Notificaciones/notificacion3.html'">La tercera notificacion</li>
        <li class="list-group-item" id = "Not4" onclick = "location.href='Notificaciones/notificacion4.html'">La cuarta notificacion</li>
        <li class="list-group-item" id = "Not5" onclick = "location.href='Notificaciones/notificacion5.html'">La quinta notificacion</li>
      </ul>
</body>
</html>