<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href=..\css\admin.css>
  </head>
  <body style="background-color:white;">
    <div id="navbar">
      <a href="/">HOME</a>
      <a href="/users">Usuarios</a>
      <a href="/incidencias">Incidencias</a>
      <a href="/mapAdmin">Mapa </a>
    </div>

    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Usuario</th>
        <th scope="col">Apoyo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Ubicacion</th>
        <th scope="col">Fecha</th>
        <th scope="col">Solucionado</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Lista }}
      <tr>
        <td>{{.Type}}</td>
        <td>{{.Author}}</td>
        <td>{{.Apoyo}}</td>
        <td>{{.Desc}}</td>
        <td><a href="/mapOneAdmin?long={{.Longitud}}&lat={{.Latitud}}">{{.Longitud}}, {{.Latitud}}  </a></td>
        <td>{{.Date}}</td>
        <td>{{.Estado}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>



    <script src="js\admin.js"></script>
  </body>
</html>
