<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href=..\css\admin.css>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="https://tiles.unwiredmaps.com/js/leaflet-unwired.js"></script>


  </head>
  <body style="background-color:white;">
    <div id="navbar">
      <a href="../admin.html">HOME</a>
      <a href="users.html">Usuarios</a>
      <a href="incidencias.html">Incidencias</a>
      <a href="mapa.html">Mapa</a>
    </div>

    <div id="map"></div>
    <script>
      // API token goes here
      var key = '597f82b2dc712a';

      // Add layers that we need to the map
      var streets = L.tileLayer.Unwired({key: key, scheme: "streets"});

      // Initialize the map
      var map = L.map('map', {
        center: [41.683825, -0.885705], //map loads with this location as center
        zoom: 14,
        layers: [streets] // Show 'streets' by default
      });

      // Add the 'scale' control
      L.control.scale().addTo(map);

      // Add the 'layers' control
      L.control.layers({
        "Streets": streets
      }).addTo(map);
      {{range .Lista}}
      var marker = L.marker([{{.Ubicacion.Lat}}, {{.Ubicacion.Alt}}]).addTo(map);
      var popup = L.popup();

      function onMapClick(e) {
        popup.setLatLng(e.latlng)
          .setContent("<b>Tipo</b>: {{.Type}} <br> <b>Fecha</b>: {{.Date}} <br> <b>Estado</b>: {{.Estado}}")
          .openOn(map);
      }

      map.on('click', onMapClick);;

      {{end}}
    </script>


</body>
</html>


    <script src="..\js\admin.js"></script>
  </body>
</html>
