<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <meta http-equiv="refresh" content="30">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href=..\css\admin.css>
  </head>
  <body style="background-color:white;">
    <div id="navbar">
      <a href="/admin">HOME</a>
      <a href="/admin/users">Usuarios</a>
      <a href="/admin/incidencias">Incidencias</a>
      <a href="/admin/map">Mapa </a>
    </div>


    <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Mail</th>
      <th scope="col">Incidencias</th>
      <th scope="col">Creación</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Lista }}
    <tr>
      <td>{{.Username}}</td>
      <td>{{.Mail}}</td>
      <td>{{.Incidencias}}</td>
      <td>{{.Fecha}}</td>
    </tr>
    {{end}}

  </tbody>
</table>



    <script src="js\admin.js"></script>
  </body>
</html>
